src2/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee" nillable="true" type="Employee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="department" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="salary" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeList" nillable="true" type="EmployeeList" />
  <xs:complexType name="EmployeeList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeArray" type="ArrayOfEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeObject" nillable="true" type="Employee" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>